<html>
<head>
  <title>Windy</title>

  <!-- Foundation Front end framework -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>